<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bookmarki</title>
</head>

<body>
    <nav>
        <% if (user) { %>
            <a href="/bookmarks/new">Add a bookmark</a>&nbsp;
            <a href="/bookmarks">Go to my bookmarks</a>&nbsp;
            <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/auth/google">Login with Google&nbsp;&nbsp;<img id="login-img" src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
            </nav>
    
    