<%- include('./partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- add user id to fetch name -->
    <% if (user) { %> 
      <h3>Welcome! What would you like to do today?</h3> 
      <a href="/bookmarks/new">Add a new bookmark</a>&nbsp;
      <a href="/bookmarks">Explore your bookmarks</a>&nbsp;
      <% } else { %> 
        <section id="home-page">
      <p>A fun way to organize your bookmarks.<p>
        <% } %>
        <img id="home-img"src="/images/pexels-alex-andrews-3045245_ccexpress.jpeg" alt="">
      </section>
  </body>
</html>

<%- include('./partials/footer') %>

