* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #eddfc1;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: 50px 1fr 53px;
  grid-template-areas:  
    "nav"
    "main"
    "footer";
}

body > nav {
  grid-area: nav;
  background-color: #ffca60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  color: #5A5A5A;
  padding: 15px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: floralwhite;
  background-color: #51859a;
}

nav > a.active {
  color: floralwhite;
  cursor: default;
}

nav > img {
  width: 275px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

#welcome-page {
  padding-left: 60px;
  font-family: 'Poppins', sans-serif;
}


#welcome-header {
  font-size: 60px;
  color: #5A5A5A;
  text-shadow: 2px 2px floralwhite;
  font-weight: 800;
  box-sizing: content-box;
  width: 700px;
}

#welcome-msg {
  padding-bottom: 10px;
  font-size: 25px;
  color: #5A5A5A;
  text-shadow: 1px 1px floralwhite;
  font-weight: 400;
  box-sizing: content-box;
  width: 525px;
}

#auth-btn {
  padding:0.35em 1.2em;
  border:0.1em solid floralwhite;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: #5A5A5A;
  text-align:center;
  transition: all 0.2s;
  background-color: floralwhite;
}

#auth-btn:hover{
  color: #e3f5fa;
  background-color: #51859a;
}

#home-page {
  padding-left: 60px;
  font-family: 'Poppins', sans-serif;
}

#home-header {
  font-size: 60px;
  color: #5A5A5A;
  text-shadow: 2px 2px floralwhite;
  font-weight: 600;
  box-sizing: content-box;
  width: 500px;
}

#new-btn {
  padding:0.35em 1.2em;
  border:0.1em solid floralwhite;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: #5A5A5A;
  text-align:center;
  transition: all 0.2s;
  background-color: floralwhite;
}

#new-btn:hover{
  color: floralwhite;
  background-color: #51859a;
}

#explore-btn {
  padding:0.35em 1.2em;
  border:0.1em solid floralwhite;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: #5A5A5A;
  text-align:center;
  transition: all 0.2s;
  background-color: floralwhite;
}

#explore-btn:hover{
  color: floralwhite;
  background-color: #51859a;
}

#add-form, #edit-form {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 12rem));
}

#add-form input[type="submit"], input[type="text"], input[type="url"] {
  grid-column: span 2;
  width: 25rem;
  margin-left: auto;
  font-size: 15px;
  color: #5A5A5A;
}

#add-form > label > textarea {
  width: 25rem;
  font-family: 'Poppins', sans-serif;
  color: #5A5A5A;
  font-size: 15px;
}

#edit-form > label > textarea {
  width: 25rem;
  font-family: 'Poppins', sans-serif;
  color: #5A5A5A;
  font-size: 15px;
}

#add-form > label > select {
  width: 10rem;
  font-family: 'Poppins', sans-serif;
  color: #5A5A5A;
}

#edit-form input[type="url"], input[type="text"]  {
  width: 25rem;
  font-size: 15px;
  color: #5A5A5A;
}

#add-form > label {
  font-size: 15px;
  font-weight: bold;
  color: #5A5A5A;
}

#edit-form > label {
  font-size: 15px;
  font-weight: bold;
  color: #5A5A5A;
}

#add-btn {
  padding:0.35em 1.2em;
  border:0.1em solid #51859a;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: floralwhite;
  text-align:center;
  transition: all 0.2s;
  background-color: #51859a;
}

#add-btn:hover{
  color: #51859a;
  background-color: floralwhite;
}

#save-btn, #delete-btn {
  width: 25rem;
  padding:0.35em 1.2em;
  border:0.1em solid #51859a;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: floralwhite;
  text-align:center;
  transition: all 0.2s;
  background-color: #51859a;
}

#save-btn:hover, #delete-btn:hover {
  color: #51859a;
  background-color: floralwhite;
}

#delete-btn {
  border:0.1em solid #ffca60;
  color: #5A5A5A;
  background-color: #ffca60;
}

#save-btn:hover, #delete-btn:hover {
  color: #51859a;
  background-color: floralwhite;
}

h2 {
  font-size: 30px;
  color: #51859a;
  text-shadow: 1px 1px floralwhite;
  font-weight: 600;
  text-align: center;
}

#index, h3 {
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-gap: 15px;
  grid-template-columns: repeat(2, minmax(auto, 25rem));
  font-size: 15px;
}

h3 {
  font-size: 25px;
  color: #5A5A5A;
  text-shadow: 1px 1px floralwhite;
  font-weight: 600;
}

span {
  font-size: 15px;
  font-weight: bold;
  color: #5A5A5A;
}

#view-btn {
  padding:0.35em 1.2em;
  border:0.1em solid #51859a;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: floralwhite;
  text-align:center;
  transition: all 0.2s;
  background-color: #51859a;
  width: 15em;
}

#view-btn:hover{
  color: #51859a;
  background-color: floralwhite;
}

#no-bkmrks {
  text-align: center;
  color: #5A5A5A;
}

#show-page {
display: grid;
justify-content: center;
justify-self: center;
grid-gap: 3px;
grid-template-columns: repeat(2, minmax(auto, 17rem));
}

#edit-btn {
  padding:0.35em 1.2em;
  border:0.1em solid #51859a;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: floralwhite;
  text-align:center;
  transition: all 0.2s;
  background-color: #51859a;
  width: 15em;
}

#edit-btn:hover{
  color: #51859a;
  background-color: floralwhite;
}

#show-page > div {
  padding-top: 5px;
}

#login-img {
  width: 25px;
}

#logo-img {
  float: left;
}

footer {
  text-align: center;
  background-color: #ffca60;
  font-size: 15px;
}