* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > nav {
  display: flex;
  background-color: green;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 10px 20px 10px 30px;
}

nav > a {
  margin: 30px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: lightgreen;
}

nav > a.active {
  color: white;
  cursor: default;
}
