<%- include('../partials/header') %>

  <h2>Add a new bookmark</h2>
  <form action="/bookmarks" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label><br>
    <label>Description:
        <input type="text" name="description">
    </label><br>
    <label>URL:
        <!-- link should be clickable -->
      <input type="link" name="url">
    </label><br>
    <label>Category:
        <select name="category" id="">
            <option value="News">News</option>
            <option value="Financial">Financial</option>
            <option value="School">School</option>
            <option value="Other">Other</option>
        </select>
      </label><br>
      <label>Add Category:
        <input type="text" value="Add New Category">
      </label>
    <input type="submit" value="Add Bookmark">
  </form>


  <%- include('../partials/footer') %>